@font-face {
	font-family: 'FontAwesome';
	src: url ('../fonts/fontawesome-webfont.eot');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'sans-serif';
	-webkit-user-select: none;
	cursor: default;
}

.ui-tabs {
	/* height: 100%; */
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.ui-tabs ul.ui-tabs-nav {
	margin: 0px;
	padding: 0px;
	background: none;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	color: black;
	font-weight: normal;
	font-size: small;
}

/********************************************
 * Player
 ********************************************/
.player {
	position: relative;
	padding-right: 150px;
	height: 80px;
	background-color: #DDD;
}

.player h3.ui-widget-header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0px;
	margin: 0px;
}

.player div.info {
	font-size: 16px;
	position: relative;
}

.player div.info div.tags {
	text-align: center;
	margin-bottom: 1em;
}

.player div.info div.timings {
	position: relative;
}

.player div.info div.timings span.elapsed {
	position: absolute;
	top: 0px;
	left: 0px;
}

.player div.info span.progress {
	position: absolute;
	left: 4em;
	right: 4em;
}

.player div.info div.timings span.time {
	position: absolute;
	top: 0px;
	right: 0px;
}

.player div.controls {
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: right;
}

/*
 * Player information
 */

.player span.title {
	font-weight: bold;
}

.player span.artist {
	font-style: italic;
}

.player span.date:before {
	content: '(';
}

.player span.date:after {
	content: ')';
}

/*
 * Player controls
 */

.player .controls, .player .controls button {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.player button.prev:before {
	content: '\f048';
}

.player button.stop:before {
	content: '\f04d';
}

.player button.play:before {
	content: '\f04b';
}

.player button.pause:before {
	content: '\f04c';
}

.player button.next:before {
	content: '\f051';
}

/*
 * Collection
 */

.collection {
	width: 300px;
	font-size: small;
	padding: 0px;
	overflow: hidden;
}

.collection h3.ui-accordion-header  {
	margin-top: -1px;
	margin-bottom: -1px;
}

.collection h3.genre:after {
	content: 'Genre';
}

.collection h3.artist:after {
	content: 'Artist';
}

.collection h3.album:after {
	content: 'Album';
}

.collection h3.title:after {
	content: 'Title';
}

.collection h3.special-radios:after {
	content: 'Radio';
}

.collection .ui-accordion-content {
	padding-left: 1em;
	overflow-x: hidden !important;
	margin-bottom: 2px;
}

.collection ul.contents {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	white-space: nowrap;
}

.collection ul.contents li {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 45px;
	line-height: 2em;
	height: 2em;
	cursor: pointer;
}

.collection ul.contents li span.prefix:not(:empty):after {
	content: ' - ';
}

.collection ul.contents li span.suffix:before {
	content: ' ';
}

.collection ul.contents li span.suffix {
	font-style: italic;
}

.collection ul.contents li.album span.prefix:empty ~ span.suffix:after {
	content: 'No album';
}

.collection ul.contents li.empty {
	font-style: italic;
}

.collection ul.contents li.album, .collection ul.contents li.radio-station {
	position: relative;
	height: 50px;
	padding-top: 20px;
	padding-left: 80px;
}

.collection ul.contents li img.cover {
	width: 64px;
	height: 64px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid black;
	box-shadow: 1px 1px 1px #444444;
}

li.genre.empty:before {
	content: 'No genre';
}

li.artist.empty:before {
	content: 'No artiste';
}

.collection ul.contents li.genre {
	background: url('images/genre.png') no-repeat;
}

.collection ul.contents li.artist {
	background: url('images/artist.png') no-repeat;
}

.collection ul.contents li.title {
	background: url('images/title.png') no-repeat;
}

.collection ul.contents li.radio-station div.icon:empty {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	margin: 5px;
	border: 1px solid transparent;
	cursor: pointer;
	background: url('images/radio.png') no-repeat center center;
}

.collection div.title {
	padding-top: 3em;
}

.collection div.actions {
	position: absolute;
	top: 0px;
	left: 1px;
	right: 1px;
	height: 2em;
	text-align: right;
	letter-spacing: -5px;
}

.collection div.actions button, ul.statistics button {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	font-size: 16px;
	padding: 5px;
	margin-top: -1px;
	margin-right: -1px;
	margin-left: 0px;
	/* width: 64px; */
}

.collection div.actions button.playlist-add:before, ul.statistics button.playlist-add:before {
	content: '\f05d';
}

.collection div.actions button.playlist-add:after, ul.statistics button.playlist-add:after {
	content: ' Add to playlist';
}

.collection div.actions button.burn:before {
	content: '\f06d';
}

.collection div.actions button.burn:after {
	content: ' Burn to CD';
}

/*
 * Context information
 */

div.context {
	margin: 0px;
	padding: 0px;
}

div.context > div {
	border-width: 0px;
	padding: 0px;
}

.context .local img.current {
	width: 415px;
	height: 415px;
}

img.cover {
	margin: 5px;
	border: 1px solid black;
	box-shadow: 5px 5px 5px #444444;
	cursor: pointer;
}

.context .local ul.statistics {
	position: absolute;
	top: 440px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: auto;
}

div.context div.tabs > ul li a.playlist:after {
	content: 'Playlist';
}

div.context div.tabs > ul li a.biography:after {
	content: 'Biography';
}

div.context div.tabs > ul li a.statistics:after {
	content: 'Statistics';
}

div.context div.tabs > ul li a.lyrics:after {
	content: 'Lyrics';
}

div.context div.tabs > ul li a.burn-log:after {
	content: 'Burning process';
}

div.context div.tabs > div {
	padding: 0px;
	position: absolute;
	top: 1.9em;
	left: 0px;
	right: 0px;
	bottom: 1.7em;
	border-bottom: 1px solid #DDD;
}

div.context div.tabs div.toolbox {
	position: absolute;
	top: auto;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 1.6em;
	text-align: right;
}

div.context div.tabs div.toolbox button {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	font-size: 16px;
	padding: 5px;
	margin-top: -1px;
	margin-right: -1px;
	margin-left: 0px;
}

div.context div.tabs div.toolbox span.file-properties {
	font-style: italic;
	margin-right: 1em;
}

div.context div.tabs div.toolbox span.bitrate:before {
	content: '@';
}

div.context div.tabs div.toolbox button.system-shutdown:before {
	content: '\f011';
}

div.context div.tabs div.toolbox button.dynamic-mode:before {
	content: '\f0d0';
}

div.context div.tabs div.toolbox button.collection-update:before {
	content: '\f021';
}

div.context div.tabs div.toolbox button.active {
	color: red;
}


/*
 * Playlist
 */

#playlist {
	padding: 0px;
}

#playlist div.header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

#playlist div.contents {
	position: absolute;
	top: 2em;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: auto;
}

#playlist ul {
	margin-top: 0px;
	padding-left: 200px;
	padding-right: 10px;
	min-height: 200px;
	list-style-type: none;
}

#playlist li:not(.album-separator):hover {
	background-color: #DDDDDD;
}

#playlist li {
	position: relative;
}

#playlist li:not(.album-separator) {
	padding-left: 1em;
	padding-right: 3em;
}

#playlist ul li.current {
	font-weight: bold;
	font-size: 15px;
}

#playlist ul li.album-separator {
	font-size: 16px;
	line-height: 1em;
	margin-left: -200px;
	margin-right: -10px;
	padding-left: 0.5em;
}

#playlist ul li.album-separator {
	margin-top: 2em;
	border-bottom: 1px dotted #DDDDDD;
}

#playlist li.album-separator span.cover {
	position: absolute;
	top: 1.5em;
}

#playlist li.album-separator span.cover img {
	width: 150px;
}

#playlist ul li.album-separator span.album {
	font-weight: bold;
}

#playlist ul li.album-separator span.artist {
	font-style: italic;
}

#playlist ul li.album-separator span.artist:before {
	font-style: normal;
	content: ' by ';
}

#playlist span.action {
	position: absolute;
	top: 0px;
	left: 0px;
}

#playlist span.action button {
	width: 1em;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	font-size: 16px;
	padding: 0px;
	margin-top: -1px;
	margin-right: -1px;
	margin-left: 0px;
	margin-bottom: 0px;
	border: 0px;
	background: transparent;
}

#playlist span.action button {
	display: none;
}

#playlist li:hover span.action button {
	display: inline;
}

#playlist span.action button:before {
	content: '\f1f8';
}

#playlist ul span.duration {
	position: absolute;
	top: 0px;
	right: 0px;
}

#playlist div.header button {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	font-size: 16px;
	padding: 5px;
	margin-top: -1px;
	margin-right: -1px;
	margin-left: 0px;
}

#playlist div.header button.clear-playlist {
	margin: 0px;
}

#playlist div.header button.clear-playlist:before {
	content: '\f00d';
}

#playlist div.header span.playlist-duration {
	float: right;
}

#playlist div.header span.playlist-duration span.label:after {
	content: 'Duration: ';
}

#playlist div.header button.clear-playlist:after {
	content: ' Clear';
}

#playlist th.title:after {
	content: 'Title';
}

#playlist th.album:after {
	content: 'Album';
}

#playlist th.artist:after {
	content: 'Artist';
}

#playlist th.duration:after {
	content: 'Duration';
}


/*
 * Biography
 */

#biography {
	padding-top: 1.8em;
}

#biography div.navigation {
	position: absolute;
	top: 0px;
}

#biography div.navigation button:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

#biography div.navigation button {
	font-size: 16px;
	padding: 5px;
	margin-top: -1px;
	margin-right: -1px;
	margin-left: 0px;
}

#biography div.navigation button:after {
	font-size: 12px;
}

#biography div.navigation button.back:before {
	content: '\f190';
}

#biography div.navigation button.back:after {
	content: ' Back';
}

#biography div.navigation button.language:before {
	content: '\f1ab';
}

#biography div.navigation button.language:after {
	content: ' English';
}

#biography iframe {
	border: 0px;
	width: 100%;
	height: 100%;
}


/*
 * Burn log
 */

div.burn-log {
	overflow-y: auto;
}

div.burn-log > div {
	font-family: Monospace;
	font-size: 15px;
}

div.burn-log div.stderr {
	color: red;
}

li.burn-log-tab button {
	margin-top: 0.2em;
	margin-right: 0.2em;
}

button.close {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	font-size: 16px;
	padding: 5px;
	margin-top: -1px;
	margin-right: -1px;
	margin-left: 0px;
}

button.close:before {
	content: '\f00d';
}


/*
 * Statistics (tab contents)
 */

#statistics button.playlist-add {
	display: none;
	position: absolute;
	top: 2em;
	right: 5px;
}

#statistics h3 {
	text-align: center;
	margin: 0px;
	margin-top: -50px;
	margin-bottom: 30px;
}

#statistics > div {
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#statistics > div > div {
	display: table-cell;
	width: 50%;
	height: 100%;
	padding-top: 70px;
	padding-left: 5%;
}

#statistics > div > div ul {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

#statistics div.new-albums h3:before {
	content: 'New albums';
}

#statistics div.top-albums h3:before {
	content: 'Top albums';
}


/*
 * Statistics (details)
 */

ul.statistics {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

ul.statistics li {
	position: relative;
	vertical-align: top;
	padding-left: 120px;
	padding-top: 0.5em;
	min-height: 110px;
	color: #BEBEBE;
}

ul.statistics li img.cover {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}

ul.statistics li span {
	white-space: pre;
}

ul.statistics li span.album {
	font-weight: bold;
	color: black;
}

ul.statistics li span.date {
	font-weight: bold;
}

ul.statistics li span.artist {
	font-style: italic;
	color: black;
}

ul.statistics li span.artist:not(:empty):before {
	content: '\A By ';
}

ul.statistics li span.date:before {
	content: ' in ';
}

ul.statistics li span.tracks:before {
	content: '\A';
}

ul.statistics li span.tracks:after {
	content: ' track(s)';
}

ul.statistics li span.duration:before {
	content: '(';
}

ul.statistics li span.duration:after {
	content: ')';
}

ul.statistics li span.count, ul.statistics li span.last {
	font-style: italic;
}

ul.statistics li span.count:before {
	content: '\A';
}

ul.statistics li span.count:after {
	content: ' time(s) played';
}

ul.statistics li span.last:empty {
	display: none;
}

ul.statistics li span.last:before {
	content: ' (last: ';
}

ul.statistics li span.last:after {
	content: ')';
}

#lyrics {
	white-space: pre-wrap;
	overflow-y: auto;
	padding: 1em;
	cursor: text;
	-webkit-user-select: text;
}
