@font-face {
	font-family: 'FontAwesome';
	src: url ('../fonts/fontawesome-webfont.eot');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'sans-serif';
}

/********************************************
 * Player
 ********************************************/
.player {
	position: relative;
	padding-right: 150px;
	height: 80px;
	background-color: #DDD;
}

.player div.info {
	font-size: 16px;
	position: relative;
}

.player div.info div.tags {
	text-align: center;
	margin-bottom: 1em;
}

.player div.info div.timings {
	position: relative;
}

.player div.info div.timings span.elapsed {
	position: absolute;
	top: 0px;
	left: 0px;
}

.player div.info span.progress {
	position: absolute;
	left: 4em;
	right: 4em;
}

.player div.info div.timings span.time {
	position: absolute;
	top: 0px;
	right: 0px;
}

.player div.controls {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 140px;
	text-align: right;
}

/*
 * Player information
 */

.player span.title {
	font-weight: bold;
}

.player span.artist {
	font-style: italic;
}

.player span.date:before {
	content: '(';
}

.player span.date:after {
	content: ')';
}

/*
 * Player controls
 */

.player .controls, .player .controls button {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.player button.prev:before {
	content: '\f048';
}

.player button.stop:before {
	content: '\f04d';
}

.player button.play:before {
	content: '\f04b';
}

.player button.pause:before {
	content: '\f04c';
}

.player button.next:before {
	content: '\f051';
}

/*
 * Collection
 */

.collection {
	width: 300px;
	font-size: small;
	padding: 0px;
	overflow: hidden;
}

.collection h3.ui-accordion-header  {
	margin-top: -1px;
}

.collection h3.genre:after {
	content: 'Genre';
}

.collection h3.artist:after {
	content: 'Artist';
}

.collection h3.album:after {
	content: 'Album';
}

.collection h3.title:after {
	content: 'Title';
}

.collection .ui-accordion-content {
	padding-left: 1em;
}

.collection ul.contents {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	white-space: nowrap;
}

.collection ul.contents li {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 45px;
	line-height: 2em;
	height: 2em;
	cursor: pointer;
}

.collection ul.contents li span.prefix:not(:empty):after {
	content: ' - ';
}

.collection ul.contents li span.suffix:before {
	content: ' ';
}

.collection ul.contents li span.suffix {
	font-style: italic;
}

.collection ul.contents li.empty {
	font-style: italic;
}

li.genre.empty:before {
	content: 'No genre';
}

li.artist.empty:before {
	content: 'No artiste';
}

.collection ul.contents li.genre {
	background: url('images/genre.png') no-repeat;
}

.collection ul.contents li.artist {
	background: url('images/artist.png') no-repeat;
}

/*
 * Context information
 */

.context {
}

.context .local img.cover {
	width: 415px;
	height: 415px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 5px;
	border: 1px solid black;
	box-shadow: 5px 5px 5px #444444;
}
