span.by:before {
	content: 'de';
}

span.on:before {
	content: 'sur';
}

.collection h3.genre:after {
	content: 'Genre';
}

.collection h3.artist:after {
	content: 'Artiste';
}

.collection h3.album:after {
	content: 'Album';
}

.collection h3.title:after {
	content: 'Titre';
}

li.genre.empty:before {
	content: 'Aucun genre';
}

li.artist.empty:before {
	content: 'Aucun artiste';
}

.collection div.actions button.playlist-add:after {
	content: ' Ajouter';
}

div.context div.tabs > ul li a.playlist:after {
	content: 'Liste de lecture';
}

#playlist th.title:after {
	content: 'Titre';
}

#playlist th.album:after {
	content: 'Album';
}

#playlist th.artist:after {
	content: 'Artiste';
}

#playlist th.duration:after {
	content: 'Durée';
}

#playlist div.header button.clear-playlist:after {
	content: ' Effacer';
}

#playlist div.header span.playlist-duration span.label:after {
	content: 'Durée: ';
}

div.context div.tabs > ul li a.biography:after {
	content: 'Biographie';
}

div.context div.tabs > ul li a.statistics:after {
	content: 'Statistiques';
}

#statistics > div.new-albums h3:before {
	content: 'Albums récents';
}

#statistics > div.top-albums h3:before {
	content: 'Albums préférés';
}

div.context div.tabs > ul li a.burn-log:after {
	content: 'Gravure';
}

.collection div.actions button.burn:after {
	content: ' Graver';
}

ul.statistics li span.date:before {
	content: ' de ';
}

ul.statistics li span.artist:not(:empty):before {
	content: '\A De ';
}

ul.statistics li span.tracks:after {
	content: ' pistes';
}

ul.statistics li span.count:after {
	content: ' écoutes';
}

ul.statistics li span.last:before {
	content: ' (dernière le ';
}
