span.by:before {
	content: 'de';
}

span.on:before {
	content: 'sur';
}

.collection h3.genre:after {
	content: 'Genre';
}

.collection h3.artist:after {
	content: 'Artiste';
}

.collection h3.album:after {
	content: 'Album';
}

.collection h3.title:after {
	content: 'Titre';
}

li.genre.empty:before {
	content: 'Aucun genre';
}

li.artist.empty:before {
	content: 'Aucun artiste';
}

.collection div.actions button.playlist-add:after {
	content: ' Ajouter';
}

div.context div.tabs > ul li a.playlist:after {
	content: 'Liste de lecture';
}
